/* текст основного текста #757575 */
/* вторичный цвет текста #212121  */
/* белый #FFFFFF */
/* черный #000000 */
/* акцент #2196F3 */
/* цвет контактов в футере  #FFFFFF99 */

/* Страница "Студия" */
body {
    background-color: #FFFFFF;
    color: #757575;
}

.list {
    list-style: none;
}

.logo {
    color: #000000;
}

.logo-part {
    color: #2196F3;
}